main {
  margin: 0 150px;
  padding: 0;
}

#home {
  margin: 0 100px;
}

#about {
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
}

#about .title {
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  text-transform: capitalize;
}

#about .content {
    text-align: center;
    font-size: 20px;
}
